.container {
  padding-bottom: 140px !important;
}

.header {
  max-width: var(--section-header-max-width);
  margin: 0 auto;
  margin-top: 48px;
}

.title {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  text-align: center;
  margin-bottom: 21px;
}

.subtitle {
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-line-height);
  letter-spacing: var(--subtitle-letter-spacing);
  text-align: center;
  color: var(--text-accent-shade);
}

.subscribe {
  margin: 0 auto;
  margin-top: 32px;
  max-width: 550px;
}

.illustration {
  width: 320px;
  height: 240px;
  margin: 0 auto;
  background: #eee;
  border-radius: 8px;;
}
