.container {}

.container:not(:first-child) {
  border-top: solid var(--section-separator-width) var(--section-separator-color);
}

.container-size-normal {
  padding: 80px var(--page-padding) 90px;
}

.container-size-narrow {
  padding: 32px var(--page-padding);
}

.container-background-normal {
  background: var(--background);
}

.container-background-alternate {
  background: var(--background-alternate);
}

.container-background-accent {
  background: var(--accent);
  color: var(--text-accent)
}

.content {
  max-width: var(--page-max-width);
  margin: 0 auto;
}
