.container {
  position: relative;
  display: flex;
  align-items: stretch;
  box-shadow: 0 4px 18px #0002;
  border-radius: 7px;
  padding: 4px;
  background: #fffd;
  overflow: hidden;
}

.input {
  display: block;
  flex: 1 1 0;
  width: 1px; /* Hack */
  padding: 12px 16px;
  margin-right: 4px;
  text-align: center;
  color: var(--text);
  background: transparent;
  border-radius: 4px;
  border: none;
}
.input:focus {
  outline: none;
  background: lightyellow;
}

.pooh {
  position: absolute;
  z-index: -1;
}

.button {
  flex: 0 0 auto;
  padding: 12px 24px;
}
