.container {
  display: flex;
  align-items: stretch;
  box-shadow: 0 4px 18px #0002;
  border-radius: 4px;
}

.input {
  flex: 1 1 auto;
  padding: 12px 16px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  background: #fffd;
  text-align: center;
  color: var(--text);
}
.input:focus {
  outline: none;
  background: lightyellow;
}

.button {
  flex: 0 0 auto;
  height: auto;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 12px 24px;
}
